.student-tasks .table-striped>tbody>tr:nth-of-type(odd)>td,
.student-tasks .table-striped>tbody>tr:nth-of-type(odd)>th {
  background-color: #ffffff;
  --bs-table-bg-type: none
}

.student-tasks .table-striped>tbody>tr:nth-of-type(even)>td,
.student-tasks .table-striped>tbody>tr:nth-of-type(even)>th {
  background-color: #f2f2f2;
  --bs-table-bg-type: none;
}
.taskbox {
    padding: 5px;
    margin-bottom: 39px;
    border: 1px dashed #999999;
    float: left;
    font-size: 12px;
    background: none repeat scroll 0pt 0pt #fafaea;
    width: 100%;
}
.tasknum {
    color: #FFFFFF;
    background-color: #B73204;
}

.revnum {
    color: #FFFFFF;
    background-color: #999999;
}

.notification a {
    color:#0066CC
}

/* StudentTasks.module.css */

.pageLayout {
    display: flex;
    margin: 16px;
  }
  
  .sidebar {
    width: 200px; /* Width of the sidebar */
    margin-right: 20px; /* Spacing between sidebar and main content */
  }
  
  .mainContent {
    flex-grow: 1;
    overflow: hidden; /* In case the content is too wide */
  }
  
  .header {
    margin-bottom: 20px; /* Space below the header */
  }
  
  .tasksTable {
    width: 100%; /* Full width of the main content area */
    /* Add more styling for your table */
  }
  
  .section {
    margin-bottom: 20px; /* Space between sections */
  }
  
  .section-header {
    font-size: 18px; /* Larger font size for visibility */
    font-weight: bold; /* Bold text for section headers */
    color: #333; /* Darker text for better readability */
    margin-bottom: 10px; /* Space below section header */
  }
  
  .section-item {
    margin-left: 20px; /* Indent for items in the list */
    margin-bottom: 5px; /* Space between items */
    color: #555; /* Slightly lighter text for items */
  }
  
  .badge {
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0;
    padding: 1;
    background-color: #a52a2a;
    color: white;
  }

  .greyBadge{
    padding: 0.25em 0.4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0;
    background-color: rgb(159, 156, 156);
    color: white;
  }